In [5]:
import pandas as pd

In [7]:
lst = []

In [8]:
a,b = 0,1
try:
    while a<1000:
        print(a, end=', ')
        lst.append(a)
        a,b = b, a+b
except:
    print('błąd')
finally:
    print('ok')

0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, ok

In [9]:
fibo = pd.DataFrame({'liczby': lst})
fibo

    liczby
0        0
1        1
2        1
3        2
4        3
5        5
6        8
7       13
8       21
9       34
10      55
11      89
12     144
13     233
14     377
15     610
16     987

In [10]:
fibo.to_clipboard()